:root {
    --color1: #A65353;
    --color2: #D97855;
    --color3: #BFB08B;
    --color4: #5390A6;
    --color5: #0D261A;
    --color6: #F2EEB6;
    --color7: #41A6A6;
    --color8: #a6537b;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
}

/* header */
.headerContainer {
    width: 100%;
    height: 100px;
    background-color: var(--color4);
    /*box-shadow: 0 3px 2px 0 #ccc;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color6);
}

#jobStatus {
    margin-left: 10px;
    color: var(--color6);
}

#date {
    margin-right: 10px;
    color: var(--color6);
}

#jobStatusInterviewing {
    color: yellow;
}
#jobStatusApplying {
    color: orange;
}
#jobStatusAccepted {
    color: green;
}
#jobStatusShelved {
    color: red;
}

/* KPI */
.kpiContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px; 

}

.KPI {
    width: 160px;
    height: 120px;
    border: 2px solid var(--color2);
    background-color: var(--color4);
    text-align: center;
    color: var(--color6);
    
}

#kpiVal {
    color: var(--color6);
    font-size: 40px; 
    
}

/*chart*/
.chart {
    width: 100%;
    height: 500px; 
}

.chart svg { 
    width: 100%;
    height: 100%;
}

.writeup {
    background-color: var(--color6);
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#writeupTitle {
    color: var(--color4);
    margin-left:20px;
}

#writeupBody {
    color: var(--color7);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.footer {
    height: 70px;
    width: 100%;
    background-color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer p {
    color: var(--color6);
    font-size: 20px;
    text-align: center;
}

.legend {
    width: 100%;   
}

#resumelink {
    text-decoration: none;
    color: var(--color2);
}

#resumelink:hover {
    color: var(--color1);
    text-decoration: underline;
}