body {
    padding: 0;
    margin: 0;
}

/* header */
.headerContainer {
    width: 100%;
    height: 100px;
    background-color: lightblue;
    box-shadow: 0 3px 2px 0 #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#jobStatus {
    margin-left: 10px;
}

#date {
    margin-right: 10px;
}

#jobStatusInterviewing {
    color: yellow;
}
#jobStatusApplying {
    color: orange;
}
#jobStatusAccepted {
    color: green;
}
#jobStatusShelved {
    color: red;
}

/* KPI */
.kpiContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px; 


}

.KPI {
    width: 160px;
    height: 120px;
    border: 1px solid black;
    background-color: bisque;
    text-align: center;
    
}

#kpiVal {
    color: brown;
    font-size: 40px; 
    
}

/*chart*/
.chart {
    width: 100%;
    height: 500px;
    /* margin-top: 30px; */
    
}

.chart svg {
    
    width: 100%;
    height: 100%;
}

.writeup {
    background-color: blueviolet;
    margin-top: 30px; 
    height: 200px;
    width: 100%;
}

.footer {
    height: 70px;
    width: 100%;
    background-color: aquamarine;
    margin-top: 20px; 
}